.bg {
  background-image: url('https://www.xmple.com/wallpaper/drop-shadow-blue-hexagon-beehive-violet-1920x1080-c2-7f61ba-191970-l4-3-58-14-4-a2-40-160-f-7.svg');
  position:absolute;
  top:0;
  right:0;
  left:0;
  bottom:0;
}
